.f-fr{
  float:right;
}
.f-fl{
  float:left;
}
.grey_bd{
  background-color: #f8f8f9;
}
.fp_bd{
  background-image: url("../images/pc/bg_invoice_flow_banner.png");
  width: 100%;
  height:520px;
  background-size: cover;
}
.fp_width{
  max-width: 1200px;
  margin: 0 auto;
}
.fp_head{
  width: 100%;
  height: 68px;
}
.dis_hide{
  display:none;
}
.fp_head a:hover{
  /*color: rgba(255,255,255,0.5);*/
  font-weight: bold;
}
.active{
  font-weight: bold;
}
.fp_logo{
  width: 220px;
  float: left;
  height:68px;
}
.fp_logo li{
  float: left;
  line-height: 68px;
}
.fp_logo li a img{
  margin-top: 24px;

}
.fp_logo li span{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
.fp_logo li a{
  color: #fff;
  font-size: 18px;
}
.fa_list{
  height:68px;
  float: left;
  margin-left: 140px;
}
.fa_list li{
  float: left;
  line-height: 68px;
  margin-right: 30px;
}
.fa_list li a{
  color: #fff;
  font-size: 14px;
  margin-right: 30px;
}
.fa_fr{
  float: right;
  height:68px;

}
.fa_fr li{
  float: left;
  line-height: 68px;
  margin-right: 30px;
}
.fa_fr li:last-child{
  margin-right: 0;
}
.fa_fr li a{
  color: #fff;
  font-size: 14px;
}
.fa_console a{
  border:1px solid #fff;
  padding:6px  16px;
  border-radius: 4px;
}
.fa_avatar{
  position: relative;
}
.fa_avatar img{
  width: 40px;
  height:40px;
  border-radius: 50%;
  margin-top: 14px;
  cursor: pointer;
}
.fa_avatar:hover .avatar_down{
 display: block;
}
.big-text {
  font-weight: bold;
}
.avatar_down{
  display: none;
  width: 100px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  border:1px solid #ddd;
  top:70px;
  right:50%;
  margin-right: -50px;
}
.avatar_down .avatar_item{
  text-align: center;
  line-height: 40px;
  border-bottom:1px solid #ddd;
}
.avatar_down .avatar_item:last-child{
  border-bottom: 0;
}
.avatar_down .avatar_item a{
  color: #666;
  font-size: 14px;
}
.avatar_down .avatar_item a:hover{
  color: #18c1d6;
}


.fp_block{
  overflow: hidden;
  margin-bottom: 80px;
}
.fp_top{
  font-size: 36px;
  margin-top: 120px;
  margin-bottom:80px;
  text-align: center;
}
.fp_list{
  padding: 80px 0;
  overflow: hidden;
}
.set_with{
  overflow: hidden;
}
.set_with li:first-child{
  width: 60%;
}
.set_with li:last-child{
  width: 40%;
}

.set_with li p{
  font-size: 14px;
  line-height: 30px;
}
.set_with li p span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #18c1d6;
  margin-right: 5px;

}
.set_with li p:first-child{
  font-size: 36px;
  padding-bottom: 15px;
  line-height: 40px;
}
.fapiao_list{
  clear: both;
  margin-top: 20px;
  overflow: hidden;
}
.fapiao_list img{
  float: left;
}
.fapiao_list span{
  float: left;
  line-height: 50px;
  margin-left: 15px;
  font-size: 18px;
}
.fapiao_target{
  background-image: url('../images/pc/bg_invoice_aim.png');
  width:100%;
  height: 120px;
  /* line-height: 300px; */
  padding: 90px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.fapiao_target p{
  font-size: 36px;
  margin-bottom: 15px;
}

/* 接入流程 */
.product_title {
  text-align: center;
  padding: 72px 0;
  font-size: 36px;
}
.cooperetion {
  width: 100%;
  height: 540px;
}
.cooperetion_img{
  width: 100%;
  float: left;

}
.cooperetion_img li{
  float: left;
  width: 20%;
  list-style: none;
  padding-right: 15px;
  box-sizing:border-box;
}
.cooperetion_img img {
  width: 100%;
  height: 150px;
}
.cooperetion_img .number {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0 10px 45%;
  color:  rgb(16, 167, 190);
  text-align: center;
  border-radius: 100%;
  border: 1px solid rgb(144,219,230);

}
.text_center {
  margin: 0 auto;
  text-align: center;
}
.text_center p {
  font-size: 16px;
  font-weight: 900;
}
.text_color {
  color: #333333;
  font-size: 14px;
}
.relation_version {
  width: 100%;
  height: 612px;
  background-color: #f8f8f9;
}
.relation_img{
  width: 100%;
  float: left;

}
.relation_img li{
  float: left;
  width: 50%;
  list-style: none;
  padding-right: 15px;
  box-sizing:border-box;
}
.relation_img img {
  width: 100%;
  height: 150px;
}
.relation_first{
  width: 510px;
  height: 360px;
  text-align: center;
  background: white;
  padding: 0 70px 0 70px;
  box-sizing:border-box;

  box-shadow: 1px 1px 1px 1px #ededee;
}
.relation_first h3 {
  font-size: 28px;
  padding: 40px 0 30px 0;
  box-sizing:border-box;
}
.relation_first {
  position: relative;
}
.relation_first p {
  font-size: 18px;
  color: #333333;
  line-height: 33px;

}
.relation_title {
  text-align: center;
  padding: 72px 0 60px 0;
  font-size: 36px;
  padding-right: 80px;
}
.promblem {
  width: 100%;
  height: 384px;
  border-bottom: 1px solid #eeeeee;

}
.padding_bottom {
  margin-top: 26px;
  font-size: 14px;
}

.img_cirle {
  width: 92px;
  height: 92px;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  bottom: 28px;
}
.img_cirle img {
  width: 100%;
  height: 100%;

}

.fapiao_link{
  width: 100%;
  padding: 80px 0;
  background-color: rgb(249,249,249)

}
.btns{
  margin-top: 45px;
}
.btns a{
  display: inline-block;
  padding: 8px 25px;
  border:1px solid #18c1d6;
  color: #18c1d6;
  border-radius: 4px;
}
.btns a:last-child{
  margin-left: 30px;
}
.btns .active{
  background-color: #18c1d6;
  color: #fff;
}
.m-morebox{
  width: 100%;
  background-image: url(https://static.easyapi.com/images/market/bg_0.png);
  margin-bottom: 0;
  background-size: cover;
}
.footer {
  text-align: center;
  background: white;

}
.footer a{
  padding: 0 15px;
}
.banner_content{
  padding-top:150px;
  text-align: center;
  color: #fff;
}
.banner_title{
  font-size: 48px;
  padding-bottom: 20px;
  color: #fff
}
