.f-fr {
  float: right;
}

.f-fl {
  float: left;
}

.big-text {
  font-weight: bold
}

.grey_bd {
  background-color: #f8f8f9;
}

.fp_bd {
  background-image: url("../images/pc/bg_invoice_banner2.png");
  width: 100%;
  height: 520px;
  background-size: cover;
}

.fp_width {
  max-width: 1200px;
  margin: 0 auto;
}

.fp_head {
  width: 100%;
  height: 68px;
}

.dis_hide {
  display: none;
}

.fp_head a:hover {
  /*color: rgba(255,255,255,0.5);*/
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.fp_logo {
  width: 220px;
  float: left;
  height: 68px;
}

.fp_logo li {
  float: left;
  line-height: 68px;
}

.fp_logo li a img {
  margin-top: 24px;

}

.fp_logo li span {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

.fp_logo li a {
  color: #fff;
  font-size: 18px;
}

.fa_list {
  height: 68px;
  float: left;
  margin-left: 140px;
}

.fa_list li {
  float: left;
  line-height: 68px;
  margin-right: 30px;
}

.fa_list li a {
  color: #fff;
  font-size: 14px;
  margin-right: 30px;
}

.fa_fr {
  float: right;
  height: 68px;

}

.fa_fr li {
  float: left;
  line-height: 68px;
  margin-right: 30px;
}

.fa_fr li:last-child {
  margin-right: 0;
}

.fa_fr li a {
  color: #fff;
  font-size: 14px;
}

.fa_console a {
  border: 1px solid #fff;
  padding: 6px 16px;
  border-radius: 4px;
}

.fa_avatar {
  position: relative;
}

.fa_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 14px;
  cursor: pointer;
}

.fa_avatar:hover .avatar_down {
  display: block;
}

.avatar_down {
  display: none;
  width: 100px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #ddd;
  top: 70px;
  right: 50%;
  margin-right: -50px;
}

.avatar_down .avatar_item {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}

.avatar_down .avatar_item:last-child {
  border-bottom: 0;
}

.avatar_down .avatar_item a {
  color: #666;
  font-size: 14px;
}

.avatar_down .avatar_item a:hover {
  color: #18c1d6;
}


.fp_block {
  overflow: hidden;
  margin-bottom: 80px;
}

.fp_top {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
}

.fp_list {
  padding: 80px 0;
  overflow: hidden;
}

.set_with {
  overflow: hidden;
}

.set_with li:first-child {
  width: 60%;
}

.set_with li:last-child {
  width: 40%;
}

.set_with li p {
  font-size: 14px;
  line-height: 30px;
}

.set_with li p span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #18c1d6;
  margin-right: 5px;

}

.set_with li p:first-child {
  font-size: 36px;
  padding-bottom: 15px;
  line-height: 40px;
}

.fapiao_list {
  clear: both;
  margin-top: 20px;
  overflow: hidden;
}

.fapiao_list img {
  float: left;
}

.fapiao_list span {
  float: left;
  line-height: 50px;
  margin-left: 15px;
  font-size: 18px;
}

.fapiao_target {
  background-image: url('../images/pc/bg_invoice_aim.png');
  width: 100%;
  height: 120px;
  /* line-height: 300px; */
  padding: 90px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.fapiao_target p {
  font-size: 36px;
  margin-bottom: 15px;
}

/* 产品形态 */
.product_status {
  width: 100%;
  height: 410px;
  background-color: #ffffff;
}

.product_title {
  text-align: center;
  padding: 72px 0;
  font-size: 36px;
}

.product_img {
  width: 100%;
  overflow: hidden;
}

.product_img li {
  float: left;
  width: 21%;
  overflow: hidden;
  margin-right: 4%;
  text-align: center;
  font-size: 14px;

}

.product_img li p {
  margin-top: 15px;
}

.product_img li img {
  width: 110px;
  height: 110px;
}

/* 我们可以满足谁 */
.statisfy_content {
  width: 100%;
  height: 530px;
  background-color: #fafafa;
}

.statisfy_img {
  width: 100%;
  float: left;
}

.statisfy_img li {
  float: left;
  width: 33%;
  list-style: none;
  padding-right: 15px;
  box-sizing: border-box;
}

.statisfy_img img {
  width: 100%;
  height: 220px;
}

.statisfy_text {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: white;
  margin: 0 !important;
  text-align: center;
  font-size: 14px;
  box-shadow: 1px 1px 1px 1px #ededee;

}

/*提供功能 */
.function_show {
  width: 100%;
  height: 760px;
}

.function_img {
  width: 100%;
  float: left;

}

.function_img li {
  float: left;
  width: 25%;
  list-style: none;
  padding-right: 15px;
  box-sizing: border-box;
}

.function_img img {
  width: 100%;
  height: 510px;
}

/* 场景介绍 */
.secnic_intro {
  width: 100%;
  height: 486px;
  background-color: rgb(249, 249, 249)
}

.fapiao_infro {
  width: 100%;
  background-color: #f8f8f9;
  padding-bottom: 78px;
}

.fapiaoimg_dis {
  width: 100%;
  overflow: hidden;
}

.fapiaoimg_dis li {
  float: left;
  width: 21%;
  overflow: hidden;
  margin-right: 4%;
  text-align: center;
  font-size: 14px;

}

.fapiaoimg_dis li p {
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
  margin: 0 !important;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

}

.fapiaoimg_dis li img {
  width: 270px;
  height: 180px;
}

/* why owner */
.why_owner {
  width: 100%;
  height: 490px;
}

.text {
  color: rgb(134, 134, 134);
}

/* 产品定价 */
.product_price {
  width: 100%;
  height: 380px;
  background-color: rgb(249, 249, 249)

}

.btns_orgice {
  width: 206px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  padding: 1px 8px;
}

.btns_color {
  color: rgb(254, 200, 178);
  font-size: 12px;
}

.top_font {
  margin-top: 14px;
  font-size: 14px;
}

.product_price_title {
  text-align: center;
  padding: 82px 0 10px 0;
  font-size: 36px;
}

/* 合作伙伴 */
.cooperetion {
  width: 100%;
  height: 398px;
}

.cooperetion_img {
  width: 100%;
  float: left;

}

.cooperetion_img li {
  float: left;
  width: 20%;
  list-style: none;
  padding-right: 15px;
  box-sizing: border-box;
}

.cooperetion_img img {
  width: 100%;
  height: 110px;
}

.fapiao_link {
  width: 100%;
  padding: 80px 0;
  background-color: rgb(249, 249, 249)

}


.font_16 {
  font-size: 16px;
}

.font_14 {
  font-size: 1px;
}

.btns {
  margin-top: 45px;
  display: inline-block;
}

.margin_left {
  margin-left: 60px;
}

.btns a {
  display: inline-block;
  width: 200px;
  padding: 10px;
  /* border:1px solid #18c1d6; */
  color: white;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
}

.btns a:last-child {
  margin-left: 40px;
}

.btns .active {
  background-color: #ff812d;
  color: #fff;
}

.btnss {
  margin-top: 45px;
}

.btnss a {
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid #18c1d6;
  color: #18c1d6;
  border-radius: 4px;
  font-size: 14px;
}

.btnss a:last-child {
  margin-left: 30px;
}

.btnss .active {
  background-color: #18c1d6;
  color: #fff;
}


.m-morebox {
  width: 100%;
  background-image: url(https://static.easyapi.com/images/market/bg_0.png);
  margin-bottom: 0;
  background-size: cover;
}

.footer {
  text-align: center;
  background: white;

}

.footer a {
  padding: 0 15px;
}

.banner_content {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.banner_title {
  font-size: 48px;
  padding-bottom: 20px;
  color: #fff
}

.banner_dis {
  font-size: 24px;
  padding-bottom: 15px;
}

.banner-dis-text {
  font-size: 14px;
}

.banner_btn {
  display: inline-block;
  margin-top: 40px;

}

.banner_qrcode {
  display: inline-block;
}

.banner_btn a {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  color: #0085e2 !important;
}

.banner_qrcode a {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  margin-left: 27px;
}


.wechat {
  display: flex;
  justify-content: space-between;
}
