/* 联系我们 */
.contact_us {
  width: 438px;
  height: 400px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  right: -190px;
  top: 60px;
  z-index: 3333;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
}

.contact_us ::before {
  content: ''
}

.contact_us_line {
  margin: 10px 0 10px 0;
}

.contact_us_h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.contact_us img {
  width: 118px;
  height: 118px;
  margin-right: 10px;
}

.contact_us_color {
  color: rgb(103, 103, 103)
}

.trangle {
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -20px;
  left: 42px;
}

.launcher {
  cursor: pointer;
  z-index: 2147483000 !important;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  background: #409EFF;
}

.launcher-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.Launcher-img {
  width: 26px !important;
  max-width: 26px !important;
  min-width: 26px !important;
  min-height: 26px !important;
  max-height: 26px !important;
  height: 26px !important;
}

#closeImg {
  display: none;
}

#telephone {
  width: 438px;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 #ebeef5;
  border-radius: 4px;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 3333;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
  display: none;
}

#telephone img {
  width: 118px;
  height: 118px;
  margin-right: 10px;
}

